.driver-top {
    min-height: 100px;
}

.driver-picture {
    min-height: 20px;
    padding-top: 30px;

    &>img {
        width: 180px;
        height: 180px;
        border: 1px solid var(--ion-color-light);
        background: var(--ion-color-light);
        border-radius: 50%;
    }
}

#avatar {
    display: none;
}