<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <div class="auth-bg">
    <div class="auth-content">

      <div class="light-bg">

        <!-- Logo -->
        <div class="ion-padding ion-text-center">
          <div class="logo secondary-bg">
            <ion-icon name="car" color="light"></ion-icon>
          </div>
          <ion-text color="dark">
            <h2>Firebase Taxi driver</h2>
          </ion-text>
          <ion-text color="dark">
            <p>Firebase taxi driver app</p>
          </ion-text>
        </div>

        <!-- Login form -->

        <ion-list class="list-form ion-padding">

          <ion-item>
            <ion-input type="text" [(ngModel)]="name" placeholder="Your name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
          </ion-item>

        </ion-list>

        <div class="ion-padding">
          <ion-button color="secondary" expand="block" (click)="signup()">
            Create account
          </ion-button>
        </div>

      </div>

      <div class="ion-padding"></div>

      <!-- Other links -->
      <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col></ion-col>
          <ion-col>
            <ion-text color="light">
              <ion-text color="secondary" [routerLink]="'/login'">
                <span>Login</span>
              </ion-text>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>